.red {
  color: red;
}

.bold {
  font-weight: bold;
}

/*.Cockpit button{*/
.Button{
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

/*.Cockpit button:hover {*/
.Button:hover {
	background-color: lightgreen;
	color: black;
}

/*.Cockpit button.Red {*/
.Button.Red {
	background-color: red;
}

/*.Cockpit button.Red:hover {*/
.Button.Red:hover {
	background-color: salmon;
	color: black;
}